.footer {
    padding: 24px 30px;
    background: #FFFFFF;
    border-top: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: var(--text-light);
    margin-top: auto;
    text-align: center;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a:hover {
    color: var(--primary);
}